{% extends "base.html" %}
{% block content %}
    
<div class="p-5 mb-4 bg-light rounded-3 shadow-sm">
    <div class="container-fluid py-5">
        
        <h1 class="display-5 fw-bold text-dark mb-3">
            ✨ Sistema de Gestión de Pedidos y Servicio
        </h1>
        
        <p class="fs-4 text-muted border-bottom pb-3 mb-4">
            **Bienvenido a tu Restaurante **. donde nos esmeramos para que quedes satisfecho .
        </p>
        
        <div class="row mb-4">
            <div class="col-md-4">
                <h3 class="h5 fw-semibold text-primary">Órdenes Rápidas</h3>
                <p class="text-secondary small">Registro ágil de pedidos en mesa o para llevar.</p>
            </div>
            <div class="col-md-4">
                <h3 class="h5 fw-semibold text-success">Control de Inventario</h3>
                <p class="text-secondary small">Integración para mantener tus productos al día.</p>
            </div>
            <div class="col-md-4">
                <h3 class="h5 fw-semibold text-danger">Servicio Superior</h3>
                <p class="text-secondary small">Mejora los tiempos de entrega y la satisfacción del cliente.</p>
            </div>
        </div>
        
       
        
    </div>
</div>
{% endblock %}

